Repository gregrickaby/local-weather: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Refer for explanation to following link: https://lefthook.dev/

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{mjs,cjs,js,jsx,ts,tsx,md,css,json,yml,yaml}'
      run: npx prettier {staged_files} --ignore-path .prettierignore --write

feat: improve Settings UI and extend forecast to 10 days
  AGENTS.md
  app/Page.module.css
  app/page.tsx
  components/Layout/Header/Header.module.css
  components/UI/CurrentConditions/CurrentConditions.module.css
  components/UI/CurrentConditions/CurrentConditions.tsx
  components/UI/DetailsGrid/DetailCard/DetailCard.tsx
  components/UI/DetailsGrid/DetailsGrid.tsx
  components/UI/DetailsGrid/SunriseSunset/SunriseSunset.tsx
  components/UI/Forecast/Forecast.module.css
  components/UI/Forecast/Forecast.test.tsx
  components/UI/Forecast/Forecast.tsx
  components/UI/Search/Search.module.css
  components/UI/Search/Search.test.tsx
  components/UI/Search/Search.tsx
  components/UI/Settings/Settings.module.css
  components/UI/Settings/Settings.test.tsx
  components/UI/Settings/Settings.tsx
  lib/store/services/weatherApi.ts
  lib/utils/helpers.test.ts
  lib/utils/helpers.ts
  next-env.d.ts
  test-utils/mocks/mockData.ts
Due: eslint, prettier

add clear icon
  components/UI/Search/Search.tsx
Due: eslint, prettier

style tweaks
  app/Page.module.css
  components/Layout/Footer/Footer.module.css
  components/Layout/Footer/Footer.tsx
  components/Layout/Header/Header.module.css
  components/UI/BackToTop/BackToTop.tsx
  components/UI/Forecast/Forecast.module.css
Due: eslint, prettier

prevent phones from trying to auto complete/spell/etc...
  components/UI/Search/Search.tsx
Due: eslint, prettier

adjust forecast on mobile
  components/UI/Forecast/Forecast.module.css
Due: prettier

search bar tweaks
  app/Page.module.css
  app/page.tsx
  components/UI/Search/Search.tsx
  components/UI/Settings/Settings.tsx
Due: eslint, prettier

add icon
  components/UI/CurrentConditions/CurrentConditions.module.css
  components/UI/CurrentConditions/CurrentConditions.tsx
Due: eslint, prettier

update text
  components/Layout/Footer/Footer.module.css
  components/Layout/Footer/Footer.tsx
Due: eslint, prettier

add hooks. make components presentational only
  AGENTS.md
  components/Layout/Footer/Footer.test.tsx
  components/UI/CurrentConditions/CurrentConditions.tsx
  components/UI/DetailsGrid/AirQuality/AirQuality.tsx
  components/UI/DetailsGrid/FeelsLike/FeelsLike.tsx
  components/UI/DetailsGrid/Humidity/Humidity.tsx
  components/UI/DetailsGrid/Pressure/Pressure.tsx
  components/UI/DetailsGrid/SunriseSunset/SunriseSunset.tsx
  components/UI/DetailsGrid/UVIndex/UVIndex.tsx
  components/UI/DetailsGrid/Visibility/Visibility.tsx
  components/UI/DetailsGrid/Wind/Wind.tsx
  components/UI/Forecast/Forecast.tsx
  components/UI/Search/Search.test.tsx
  components/UI/Search/Search.tsx
  components/UI/Settings/Settings.tsx
  lib/hooks/useAirQuality.ts
  lib/hooks/useCurrentConditions.ts
  lib/hooks/useFeelsLike.ts
  lib/hooks/useForecast.ts
  lib/hooks/useHumidity.ts
  lib/hooks/useLocationSearch.ts
  lib/hooks/usePressure.ts
  lib/hooks/useSettings.ts
  lib/hooks/useSunriseSunset.ts
  lib/hooks/useUVIndex.ts
  lib/hooks/useVisibility.ts
  lib/hooks/useWindData.ts
  lib/utils/weather-helpers.test.ts
  lib/utils/weather-helpers.ts
Due: eslint, prettier

Major efficiency improvements based on comprehensive code review
  app/page.tsx
  components/UI/CurrentConditions/CurrentConditions.tsx
  components/UI/DetailsGrid/DetailsGrid.tsx
  components/UI/DetailsGrid/FeelsLike/FeelsLike.tsx
  components/UI/DetailsGrid/MoonPhase/MoonPhase.test.tsx
  components/UI/DetailsGrid/MoonPhase/MoonPhase.tsx
  components/UI/DetailsGrid/Visibility/Visibility.test.tsx
  components/UI/Forecast/Forecast.module.css
  components/UI/Forecast/Forecast.test.tsx
  components/UI/Forecast/Forecast.tsx
  components/UI/Search/Search.tsx
  lib/hooks/useAirQuality.ts
  lib/hooks/useCurrentConditions.ts
  lib/hooks/useFeelsLike.ts
  lib/hooks/useForecast.ts
  lib/hooks/useHumidity.ts
  lib/hooks/useMoonPhase.ts
  lib/hooks/usePressure.ts
  lib/hooks/useSunriseSunset.ts
  lib/hooks/useUVIndex.ts
  lib/hooks/useVisibility.ts
  lib/hooks/useWeatherData.ts
  lib/hooks/useWindData.ts
  lib/store/selectors.ts
  lib/store/services/weatherApi.ts
  lib/utils/calculations.test.ts
  lib/utils/calculations.ts
  lib/utils/conditions.test.ts
  lib/utils/conditions.ts
  lib/utils/formatting.test.ts
  lib/utils/formatting.ts
  lib/utils/helpers.test.ts
  lib/utils/index.ts
  lib/utils/weather-helpers.test.ts
  lib/utils/weather-helpers.ts
  package-lock.json
  package.json
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

add radar
  app/layout.tsx
  app/page.tsx
  components/UI/Radar/Radar.module.css
  components/UI/Radar/Radar.test.tsx
  components/UI/Radar/Radar.tsx
  lib/constants/radar.ts
  lib/hooks/useRadarMap.ts
  lib/store/index.ts
  lib/store/services/radarApi.ts
  next-env.d.ts
  package-lock.json
  package.json
Due: eslint, prettier

move attribute
  components/Layout/Footer/Footer.test.tsx
  components/Layout/Footer/Footer.tsx
  components/UI/Radar/Radar.tsx
Due: eslint, prettier

setup sonarqube
  .gitignore
  AGENTS.md
  package.json
  sonar-project.properties
Due: prettier

bump
  .vscode/settings.json
Due: prettier

sonarqube fixes
  components/UI/Icon/Icon.test.tsx
  components/UI/Search/Search.tsx
  lib/hooks/useRadarMap.ts
  lib/utils/formatting.test.ts
  vitest.config.ts
Due: eslint, prettier

remove claude
  CLAUDE.md
Due: prettier

Update lib/store/middlewares/localStorageMiddleware.ts
  lib/store/middlewares/localStorageMiddleware.ts
Due: eslint, prettier

Optimize performance: eliminate object recreation and improve algorithm efficiency (#288)
  lib/store/middlewares/localStorageMiddleware.ts
  lib/utils/calculations.ts
  lib/utils/conditions.ts
  lib/utils/formatting.ts
Due: eslint, prettier

Remove obsolete .env copy step from assertions workflow (#291)
  .github/workflows/assertions.yml
Due: prettier

Add individual city pages with dynamic routing (#290)
  AGENTS.md
  README.md
  app/WeatherSkeleton.module.css
  app/[location]/page.tsx
  app/page.tsx
  components/Pages/CityPage.tsx
  lib/hooks/useLocationSearch.test.ts
  lib/hooks/useLocationSearch.ts
  lib/utils/index.ts
  lib/utils/slug.test.ts
  lib/utils/slug.ts
  next-env.d.ts
Due: eslint, prettier

bump
  .vscode/extensions.json
  package-lock.json
  package.json
Due: prettier

bump
  next-env.d.ts
Due: eslint, prettier

fix location search bug
  lib/store/services/placesApi.ts
  lib/utils/slug.test.ts
  lib/utils/slug.ts
Due: eslint, prettier

formatting
  AGENTS.md
  app/[location]/page.tsx
  app/page.tsx
  components/Pages/CityPage.tsx
  lib/store/middlewares/localStorageMiddleware.ts
  lib/utils/slug.test.ts
  lib/utils/slug.ts
Due: eslint, prettier

bump
  AGENTS.md
  next-env.d.ts
  package.json
  vitest.config.ts
Due: eslint, prettier

move biz logic to hook
  components/Pages/CityPage.test.tsx
  components/Pages/CityPage.tsx
  lib/hooks/useCityPageLocation.test.ts
  lib/hooks/useCityPageLocation.ts
Due: eslint, prettier

sonarqube fixes
  .vscode/settings.json
  app/[location]/page.tsx
  components/Layout/Footer/Footer.tsx
  components/UI/Radar/Radar.tsx
  lib/hooks/useAirQuality.ts
  lib/hooks/useLocationSearch.ts
  lib/hooks/useSettings.ts
  lib/utils/calculations.ts
  lib/utils/conditions.ts
  lib/utils/slug.ts
Due: eslint, prettier

fix tests
  lib/utils/conditions.ts
Due: eslint, prettier

design tweaks and clean ups
  components/UI/CurrentConditions/CurrentConditions.module.css
  components/UI/DetailsGrid/DetailsGrid.tsx
  components/UI/DetailsGrid/FeelsLike/FeelsLike.tsx
  components/UI/DetailsGrid/Visibility/Visibility.tsx
  components/UI/Radar/Radar.tsx
  components/UI/Search/Search.tsx
  lib/utils/calculations.ts
  lib/utils/formatting.ts
Due: eslint, prettier

fix up footer
  components/Layout/Footer/Footer.module.css
  components/Layout/Footer/Footer.tsx
Due: eslint, prettier

set year of first commit
  LICENSE
Due: none

update footer
  components/Layout/Footer/Footer.tsx
Due: eslint, prettier

fix condition to icon map
  components/UI/Icon/Icon.tsx
  lib/utils/conditions.ts
Due: eslint, prettier

change slugs
  AGENTS.md
  README.md
  app/forecast/[[...location]]/page.test.tsx
  app/forecast/[[...location]]/page.tsx
  app/page.test.tsx
  app/page.tsx
  components/Pages/CityPage.test.tsx
  components/Pages/CityPage.tsx
  lib/hooks/useCityPageLocation.test.ts
  lib/hooks/useCityPageLocation.ts
  lib/hooks/useLocationSearch.test.ts
  lib/hooks/useLocationSearch.ts
  lib/store/services/placesApi.ts
  lib/types/index.ts
  lib/utils/slug.test.ts
  lib/utils/slug.ts
Due: eslint, prettier

bump to node 24 lts
  .nvmrc
  nixpacks.toml
  package-lock.json
  package.json
Due: prettier
