Repository gregrickaby/local-weather: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --ignore-path .gitignore --fix

stylelint:
  run: npx stylelint {staged_files} --ignore-path .gitignore --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .gitignore --write

remove old settings. add logging
  next.config.js
Due: eslint

move them to /lib
  lib/theme.ts
  theme.ts
Due: eslint

bump to v4
  .github/workflows/assertions.yml
  .github/workflows/codeql.yml
Due: none

update vscode configs
  .vscode/extensions.json
  .vscode/settings.json
Due: none

move to /app
  app/favicon.ico
Due: none

move /lib and /components out of /app
  app/Page.module.css
  app/api/weather/route.ts
  app/layout.tsx
  app/page.tsx
  components/Alerts.tsx
  components/BackToTop.module.css
  components/BackTopTop.tsx
  components/CurrentConditions.module.css
  components/CurrentConditions.tsx
  components/Footer.module.css
  components/Footer.tsx
  components/Forecast.module.css
  components/Forecast.tsx
  components/Header.module.css
  components/Header.tsx
  components/Icon.tsx
  components/Meta.tsx
  components/Search.module.css
  components/Search.tsx
  components/Settings.module.css
  components/Settings.tsx
  components/WeatherProvider.tsx
  lib/config.ts
  lib/helpers.ts
  lib/hooks.ts
  lib/types.d.ts
Due: eslint, stylelint

dependency bump
  package-lock.json
  package.json
Due: none

revert eslint upgrade
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.css
  prettier: any of: .
