Repository gregrickaby/local-weather: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --ignore-path .gitignore --fix
    stylelint:
      glob: '*.css'
      run: npx stylelint {staged_files} --ignore-path .gitignore --fix
    prettier:
      glob: '.'
      run: npx prettier {staged_files} --ignore-path .gitignore --write

dependency bump
  package-lock.json
  package.json
Due: none

mantine 8. next.js 15. use Open-Meteo
  .env.example
  .eslintignore
  .eslintrc.js
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/workflows/assertions.yml
  .github/workflows/codeql.yml
  .nvmrc
  .prettierignore
  .stylelintrc.js
  .vscode/extensions.json
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  app/api/places/route.ts
  app/api/weather/route.ts
  app/layout.tsx
  app/page.tsx
  components/Alerts.tsx
  components/CurrentConditions.tsx
  components/Forecast.tsx
  components/Settings.tsx
  components/WeatherProvider.tsx
  eslint.config.mjs
  lefthook.yml
  lib/helpers.ts
  lib/hooks.ts
  lib/types.d.ts
  next-env.d.ts
  next.config.js
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  prettier.config.mjs
  tsconfig.json
Due: eslint

sonarqube fixes
  app/layout.tsx
  components/CurrentConditions.tsx
  components/Header.tsx
  components/Icon.tsx
  components/WeatherProvider.tsx
Due: eslint

update folder structure
  app/layout.tsx
  app/page.tsx
  components/Context/WeatherProvider/WeatherProvider.tsx
  components/Layout/Footer/Footer.module.css
  components/Layout/Footer/Footer.tsx
  components/Layout/Header/Header.module.css
  components/Layout/Header/Header.tsx
  components/Layout/Meta/Meta.tsx
  components/UI/Alerts/Alerts.tsx
  components/UI/BackToTop/BackToTop.module.css
  components/UI/BackToTop/BackToTop.tsx
  components/UI/CurrentConditions/CurrentConditions.module.css
  components/UI/CurrentConditions/CurrentConditions.tsx
  components/UI/Forecast/Forecast.module.css
  components/UI/Forecast/Forecast.tsx
  components/UI/Icon/Icon.tsx
  components/UI/Search/Search.module.css
  components/UI/Search/Search.tsx
  components/UI/Settings/Settings.module.css
  components/UI/Settings/Settings.tsx
  lib/config.ts
Due: eslint, stylelint

remove old next.js way of meta
  app/layout.tsx
  components/Layout/Meta/Meta.tsx
Due: eslint

rtk
  AGENTS.md
  app/layout.tsx
  app/page.tsx
  components/Context/WeatherProvider/WeatherProvider.tsx
  components/Providers/StoreProvider.tsx
  components/UI/CurrentConditions/CurrentConditions.tsx
  components/UI/Forecast/Forecast.module.css
  components/UI/Forecast/Forecast.tsx
  components/UI/Search/Search.tsx
  components/UI/Settings/Settings.tsx
  lib/helpers.ts
  lib/hooks.ts
  lib/store/hooks.ts
  lib/store/index.ts
  lib/store/middlewares/localStorageMiddleware.ts
  lib/store/services/placesApi.ts
  lib/store/services/weatherApi.ts
  lib/store/slices/preferencesSlice.ts
  lib/types.d.ts
  package-lock.json
  package.json
Due: eslint, stylelint

add current conditions grid
  app/api/air-quality/route.ts
  app/page.tsx
  components/UI/CurrentConditions/CurrentConditions.tsx
  components/UI/DetailsGrid/AirQuality/AirQuality.tsx
  components/UI/DetailsGrid/DetailCard/DetailCard.tsx
  components/UI/DetailsGrid/DetailsGrid.tsx
  components/UI/DetailsGrid/FeelsLike/FeelsLike.tsx
  components/UI/DetailsGrid/Humidity/Humidity.tsx
  components/UI/DetailsGrid/Pressure/Pressure.tsx
  components/UI/DetailsGrid/SunriseSunset/SunriseSunset.tsx
  components/UI/DetailsGrid/UVIndex/UVIndex.tsx
  components/UI/DetailsGrid/Visibility/Visibility.tsx
  components/UI/DetailsGrid/Wind/Wind.tsx
  components/UI/Forecast/Forecast.tsx
  components/UI/Settings/Settings.tsx
  lib/helpers.ts
  lib/store/index.ts
  lib/store/services/airQualityApi.ts
  lib/store/services/weatherApi.ts
  lib/types.d.ts
Due: eslint

continue to iterate on forecast
  app/api/weather/route.ts
  components/UI/CurrentConditions/CurrentConditions.tsx
  components/UI/DetailsGrid/Pressure/Pressure.tsx
  components/UI/Forecast/Forecast.module.css
  components/UI/Forecast/Forecast.tsx
  lib/helpers.ts
Due: eslint, stylelint

adjust pressure
  app/api/weather/route.ts
  components/UI/DetailsGrid/Pressure/Pressure.tsx
  components/UI/DetailsGrid/Visibility/Visibility.tsx
  lib/types.d.ts
Due: eslint

nextjs 16
  next-env.d.ts
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint

bump config
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint

bump
  AGENTS.md
Due: none

add analytics
  app/layout.tsx
  components/UI/Analytics/Analytics.tsx
Due: eslint

use open-meteo sdk
  app/api/air-quality/route.ts
  app/api/places/route.ts
  app/api/weather/route.ts
  components/UI/DetailsGrid/AirQuality/AirQuality.tsx
  lib/store/services/airQualityApi.ts
  lib/store/services/placesApi.ts
  lib/store/services/weatherApi.ts
  lib/utils/api.ts
  lib/utils/helpers.ts
  lib/utils/index.ts
  package-lock.json
  package.json
Due: eslint

remove console.info
  lib/store/services/weatherApi.ts
Due: eslint

remove alerts
  AGENTS.md
  app/page.tsx
  components/UI/Alerts/Alerts.tsx
  lib/constants/config.ts
  next.config.ts
  package-lock.json
  package.json
Due: eslint

dependency bump
  next-env.d.ts
  package-lock.json
  package.json
Due: eslint

add error boundary
  app/layout.tsx
  components/ErrorBoundary/ErrorBoundary.tsx
  components/ErrorBoundary/index.ts
  lib/store/services/airQualityApi.ts
Due: eslint

add tests
  AGENTS.md
  components/ErrorBoundary/__tests__/ErrorBoundary.test.tsx
  components/Layout/Footer/__tests__/Footer.test.tsx
  components/Layout/Header/__tests__/Header.test.tsx
  components/UI/BackToTop/__tests__/BackToTop.test.tsx
  components/UI/CurrentConditions/__tests__/CurrentConditions.test.tsx
  components/UI/DetailsGrid/AirQuality/__tests__/AirQuality.test.tsx
  components/UI/DetailsGrid/DetailCard/__tests__/DetailCard.test.tsx
  components/UI/DetailsGrid/FeelsLike/__tests__/FeelsLike.test.tsx
  components/UI/DetailsGrid/Humidity/__tests__/Humidity.test.tsx
  components/UI/DetailsGrid/Pressure/__tests__/Pressure.test.tsx
  components/UI/DetailsGrid/SunriseSunset/__tests__/SunriseSunset.test.tsx
  components/UI/DetailsGrid/UVIndex/__tests__/UVIndex.test.tsx
  components/UI/DetailsGrid/Visibility/__tests__/Visibility.test.tsx
  components/UI/DetailsGrid/Wind/__tests__/Wind.test.tsx
  components/UI/Forecast/__tests__/Forecast.test.tsx
  components/UI/Icon/__tests__/Icon.test.tsx
  components/UI/Search/__tests__/Search.test.tsx
  components/UI/Settings/__tests__/Settings.test.tsx
  lib/store/slices/__tests__/preferencesSlice.test.ts
  lib/utils/__tests__/helpers.test.ts
  package-lock.json
  package.json
  test-utils/index.ts
  test-utils/mocks/mockData.ts
  test-utils/msw/handlers.ts
  test-utils/msw/server.ts
  test-utils/render.tsx
  test-utils/testStore.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint

move tests. fix some sonarqube issues
  .vscode/settings.json
  AGENTS.md
  app/layout.tsx
  components/Layout/ErrorBoundary/ErrorBoundary.test.tsx
  components/Layout/ErrorBoundary/ErrorBoundary.tsx
  components/Layout/ErrorBoundary/index.ts
  components/Layout/Footer/Footer.test.tsx
  components/Layout/Header/Header.test.tsx
  components/UI/BackToTop/BackToTop.test.tsx
  components/UI/CurrentConditions/CurrentConditions.test.tsx
  components/UI/DetailsGrid/AirQuality/AirQuality.test.tsx
  components/UI/DetailsGrid/DetailCard/DetailCard.test.tsx
  components/UI/DetailsGrid/FeelsLike/FeelsLike.test.tsx
  components/UI/DetailsGrid/Humidity/Humidity.test.tsx
  components/UI/DetailsGrid/Pressure/Pressure.test.tsx
  components/UI/DetailsGrid/SunriseSunset/SunriseSunset.test.tsx
  components/UI/DetailsGrid/UVIndex/UVIndex.test.tsx
  components/UI/DetailsGrid/Visibility/Visibility.test.tsx
  components/UI/DetailsGrid/Wind/Wind.test.tsx
  components/UI/Forecast/Forecast.test.tsx
  components/UI/Icon/Icon.test.tsx
  components/UI/Search/Search.test.tsx
  components/UI/Settings/Settings.test.tsx
  lib/store/StoreProvider.tsx
  lib/store/slices/preferencesSlice.test.ts
  lib/theme/index.ts
  lib/utils/helpers.test.ts
  test-utils/render.tsx
  vitest.setup.ts
Due: eslint

favorite support
  components/UI/CurrentConditions/CurrentConditions.test.tsx
  components/UI/DetailsGrid/AirQuality/AirQuality.test.tsx
  components/UI/DetailsGrid/FeelsLike/FeelsLike.test.tsx
  components/UI/DetailsGrid/Humidity/Humidity.test.tsx
  components/UI/DetailsGrid/Pressure/Pressure.test.tsx
  components/UI/DetailsGrid/SunriseSunset/SunriseSunset.test.tsx
  components/UI/DetailsGrid/UVIndex/UVIndex.test.tsx
  components/UI/DetailsGrid/Visibility/Visibility.test.tsx
  components/UI/DetailsGrid/Wind/Wind.test.tsx
  components/UI/Forecast/Forecast.test.tsx
  components/UI/Forecast/Forecast.tsx
  components/UI/Search/Search.test.tsx
  components/UI/Search/Search.tsx
  components/UI/Settings/Settings.test.tsx
  components/UI/Settings/Settings.tsx
  lib/store/middlewares/localStorageMiddleware.ts
  lib/store/slices/preferencesSlice.test.ts
  lib/store/slices/preferencesSlice.ts
  lib/utils/helpers.test.ts
  lib/utils/helpers.ts
Due: eslint
